@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');


*,
*:before, *:after{
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
    margin:0;
}
