@media (min-width:960px){
    header{
        display: flex;
        height: 80px;
        justify-content: space-between;
        align-items: center;
    }
    #logo{
        width: 36px;
        height: 36px;
    }
    .menu{
        input, span{
            display: none;
        }
        ul{
            position: static;
            background: transparent;
            height: auto;
            opacity: 1;
        }
        li{
            display: inline-block;
            padding: 5px 10px;
        }
        a{
            color: #060A24;
            pointer-events: auto;
            &:hover{
                color: #00F3BB
            }
        }
    }
    #boton a:hover{
        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
        color: #ffffff;
    }
    p{
        font-size: 16px;
    }
    #section-1{
        padding: 5vw 12vw 3vw 12vw;
        h1{
            font-size: 64px;
        }
        span{
            color: #0000EC;
        }
        #parrafoMobile{
            display: none;
        }
        #parrafoDesktop{
            display: block;
            margin-top: 10px;
            width: 570px;
        }
        #boton{
            padding-top: 35px;
            width: 226px;
            height: 56px;
            border: 1px solid transparent;
        }
    }
    #boton{
        a{
            font-size: 18px;
        }
    }
    #episodios{
        padding: 150px 0 200px 0;
        clip-path: polygon(0 10%, 100% 0, 100% 85%, 0% 100%);
        h2{
            font-size: 48px;
            padding-left: 12vw;
        }
        .spotify{
            display: flex;
            flex-wrap: wrap;
            padding: 0 2rem;
            div{
                padding: 2rem;
                flex-basis: 50%;
            }
        }
    }
    #nosotros{
        display: flex;
        justify-content: center;
        #phone{
            position: relative;
            z-index: 1;
            margin-top: -180px;
            width: 450px;
            height: 660px;
        }
        div{
            width: 464px;
            height: 204px;
        }
    } 
    #entrevistas{
        h2{
            font-size: 48px;
            padding-left: 12vw;
        }
        #imagenes{
            display: flex;
            flex-wrap: wrap;
            img{
                width: 33.3%;
                height: 364px;
            }
        }
    }
    #topicos{
        display: flex;
        flex-direction: column;
        h2{
            font-size: 48px;
            padding-left: 12vw;
        }
        .img-top{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 0 12vw;
        }
        .img-h3{
            text-align: center;
            align-items: center;
            h3{
                width: 200px;
            }
        }
    }
    #section6{
        padding: 200px 1rem 150px 1rem;
        clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
    }
    footer{
        display: flex;
        justify-content: space-between;
        padding: 10px 4rem;
        #redes{
            i{
                margin: 0;
                padding: 0 15px;
            }
        }
    }
}
