@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap'); 

*,
*:before, *:after{
    box-sizing: border-box;
}
body {
    font-family: 'IBM Plex Mono', monospace;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
}

h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

p{
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
}
img {
    width: 320px;
    height: 243px;
}

iframe {
    width: 301px;
    height: 225px;
}

button {
    width: 288px;
    height: 48px;
    background: #00F3BB 100%;
    opacity: 100%;
}

i{
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
}
.bgblue{
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}
.phone {
    width: 360px;
    height: 519px;
}
.icon {
    width: 104px;
    height: 104px;
}
.logo {
    height: 24px;
    width: 24px;
}