@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap'); 

*,
*:before, *:after{
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
    margin:0;
}

#nav{
    display: flex;
    margin: 10px 5% 10px 5%;
    justify-content:space-between;
}

#section-1 #boton{
    margin-left: 5%;
    margin-bottom: 10%;
}

#boton {
    background: #00F3BB;
    text-decoration: none;
    width: 288px;
    height: 48px;
}

#boton:hover{
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #ffffff;
}

h1, 
h2 {
    margin-left: 5%;
    margin-bottom: 5%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 42px;
    width: 250px; /*salto de linea del titulo*/
}

h3{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    font-weight: 600;
}

p{
    font-family: 'IBMPlexMono', monospace;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0.3% 5% 10% 5%;
}

#especial{
    font-family: 'IBMPlexMono', monospace;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0.3% 5% 4% 5%;
}

.bgblue{
    padding: 35px 0 130px 0;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 4%, 100% 0, 100% 96%, 0% 100%);
    color: #ffffff; 
}

.bgblue2{
    padding: 30px 0 80px 0;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%);
    color: #ffffff; 
}

.spotify div {
    /* width: 298px; */
    /* height: 225px; */
    padding: 1rem;
    /* margin-left: 3%;
    margin-bottom: -52px; */
}

#phone{
    position: relative;
    z-index: 1;
    margin-top: -100px;
    /* margin-left: -20px; */
    width: 100%;
    height: auto;
}

#entrevistas img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

#topicos h2{
    width: 100%;
}

.icon{
    margin-top: 8%;
    margin-bottom: -3%;
}
#topicos .img-h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#topicos .img-h3 #salto{
   width: 200px;
   text-align: center;
}

#white-center{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer{
    margin: 20px 0 0 0;
    text-align: center;
    align-items: center;
}

h6{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
}
#redes i{
    padding: 15px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 5px;
}

#nostros div{
    margin: 0 auto;

}
